[Unit]
Description=Loads LIO kernel target saved configuration
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/targetcli restoreconfig clear_existing=true
ExecStop=/usr/bin/targetcli clearconfig confirm=true
SyslogIdentifier=targetcli

[Install]
WantedBy=multi-user.target

